.parent{
    display: grid;
    grid-gap: 3px;
    height: 1000px;
    grid-template-columns:30px 1fr 100px 30px;
    grid-template-rows:250px auto 50px;
    grid-template-areas: 
    ". header header ."
    ". main nav ."
    ". footer aside .";
}
.header{
    grid-area: header;
    background-image: url(Images/background\ pup.jpg);
    background-position: center;
    background-size: contain;
    display:flex;
    flex-direction:row;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;       
}    
main{
    grid-area: main; 
}
nav{
    grid-area: nav;
    background-color: yellowgreen;
    color:white;
}
aside{
    grid-area: aside;
    background-color: yellow;
    border: 1px solid black;
    font-size: 15px;
    text-align: center;
}
footer{
   grid-area: footer;
   background-color: yellow;
   border: 1px solid black;
   font-size: 15px;
   text-align: center;
}
.ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
.training{
    text-align: center;
    display: grid;
    grid-gap: 3px;
    grid-template-columns:30px 1fr 30px;
    grid-template-rows:100px 100px 100px;
    grid-template-areas: 
    ". head ."
    ". navv ."
    ". foot .";
}
.head{
    grid-area: head;
    background-color: darkkhaki;  
}
.navv{
    grid-area: navv;
    background-color: rgb(47, 107, 62);    
}
.foot{
    grid-area: foot;
    background-color: darkslategray;   
}    
.voeding{
    text-align: center;
    display: grid;
    grid-gap: 3px;
    grid-template-columns:30px 1fr 30px;
    grid-template-rows:300px 300px;
    grid-template-areas: 
    ". top ."
    ". bottom .";
}
.top{
    grid-area: top;
    background-color: chartreuse;
    margin-top: 50px;
    border: 1px solid black;
    padding-top: 70px;
    font-size: 18px;
}
.bottom{
    grid-area: bottom;
    background-color: rgb(0, 139, 53);
    border: 1px solid black;
    padding-top: 70px; 
}
.contact{
    background-color: cadetblue;
    font-style: italic;
    font-size: 15px;
}  
.puppy{
    background: border-box;
}


/* media items*/
@media (min-width: 768px){
    .parent{
        grid-template-rows:300px 150px 1fr 50px;
        grid-template-columns:30px 1fr 120px 30px;
        grid-template-areas: 
        ". header header ."
        ". nav nav."
        ". main main ."
        ". footer aside .";        
  }   
}
@media (min-width: 1024px){
    .parent {
        grid-template-rows:300px 1fr 150px 50px;
        grid-template-columns:30px 1fr 1fr 30px;
        grid-template-areas: 
        ". header header ."
        ". main main."
        ". nav nav ."
        ". footer aside.";
    }
}   
            